.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 80px;
    margin-top: 50px;
    filter: drop-shadow(0px 5px 5px white);
}

.heading {
    font-size: 36px;
    margin-top: 50px;
    color: white;
    filter: drop-shadow(0 0 10px black);
}

.mainHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    background-image: url(/static/room1.jpg);
    background-size: cover;
    background-position: center;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0 100px 0;
    margin-top: 4px;
    background-image: url(/static/rooms.jpg);
    background-size: cover;
    background-position: center;
}

.img {
    margin-top: 100px;
}

.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    max-width: 600px;
    gap: 30px;
    margin-bottom: 50px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 236, 236);
    border-radius: 10px;
    padding: 20px;
}

.service span {
    margin-bottom: 20px;
    font-size: 24px;
}

.service img {
    width: 50px;
}
