<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title>Kachok Hotel</title>
    {% block head %}{% endblock head %}
</head>

<body>
    <div class="cont">
        <div class="header">
            <div class="header_inner">
                <a href="/" class="hlink">
                    <h2>Kachok Hotel</h2>
                </a>
                <a href="/rooms" class="hlink">
                    НОМЕРИ
                </a>
                <a href="/reviews" class="hlink">
                    ВІДГУКИ
                </a>
                <a href="/contacts" class="hlink">
                    КОНТАКТИ
                </a>
            </div>
        </div>

        <main class="main">
            {% block content%}{% endblock content %}
        </main>

        <div class="footer">
            Copyright © 2021, Kachok Hotel
        </div>
    </div>
</body>

</html>