{% extends "base.html" %}
{% block head %}
<link href="static/rooms.css" rel="stylesheet">
{% endblock head %}
{% block content %}
<div class="content">
    <div class="topHeader">
        <h1>НОМЕРИ</h1>
    </div>
    <div class="inner">
        {% for room in rooms %}
        <a href="/room?id={{room.id}}" class="room">
            <img src="{{room.img}}" class="img">
            <h3>
                {{room.name}}
                <span style="float: right">{{room.price}} UAH</span>
            </h3>
            <hr>
            <p>{{room.summary}}</p>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}